* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.top {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  width: 100%;
  min-height: 4928px;
  height: 100%;
  margin: 0 auto;
  background-color: #fbf9ff;
  border: 1px solid black;
}
.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.angle {
  background-image: url("/img/background-top.png");
  max-width: 1600px;
  width: 100%;
  min-height: 815px;
  height: 100%;
  margin: 0 auto;
  /* position: absolute; */
  position: relative;
  overflow: hidden;
  margin-bottom: 38px;
  border: 1px solid black;
}
.header {
  max-width: 1181px;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 184.02px;
  height: 40px;
}
.menu-header {
  width: 352px;
  height: 19px;
  display: flex;
  gap: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* text / secondary */

  color: #8794ba;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 82px;
}
.right-header {
  gap: 40px;
  display: flex;
  align-items: center;
  color: #7986ad;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* text / secondary */
  color: #8794ba;
}
.sign-up {
  width: 161px;
  height: 40px;
  background-color: #1e2e5c;
  border: 1px solid #465b95;
  border-radius: 68px;
  color: #7986ad;
}
.right-menu {
  align-items: center;
}
.menu-icon {
  display: none;
}
.menu-header {
  color: #7986ad;
}
/* .create-line {
  display: none;
} */
.big-header-left {
  width: 550px;
  height: 315px;
  border: 1px solid black;
  margin-top: 152px;
  margin-left: 210px;
  /* margin: 0 auto; */
}
.sub {
  display: none;
}
.create-line {
  width: 0px;
  border-top: 0px solid #d6d6d6;
}
.monitor {
  width: 550px;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  /* or 60px */
  color: #ffffff;
  margin-bottom: 15px;
}
.lorem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  /* text / secondary */
  color: #8794ba;
  margin-bottom: 49px;
}
.try-for-free {
  width: 238px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
  gap: 10px;
  /* width: 238px;
  height: 50px; */
  background: #ef2a82;
  border-radius: 68px;
  color: #ffffff;
}
.big {
  background-image: url("/img/main-screen.png");
  width: 804px;
  height: 610px;
  position: absolute;
  left: 909px;
  top: 115px;
}
.small {
  background-image: url("/img/chart-3.png");
  position: absolute;
  width: 361px;
  height: 300px;
  left: calc(50% - 361px / 2 + 221.5px);
  top: 288px;
}

.main-features {
  width: 1180px;
  height: 381px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  /* text / main */
  color: #172755;
  margin-bottom: 71px;
  border: 1px solid black;
}
.mainf {
  width: 620px;
  height: 53px;
  margin-bottom: 30px;
  margin: 0 auto;
}
.l {
  width: 1060px;
  height: 53px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  /* text / secondary */
  color: #8794ba;
  padding-bottom: 81px;
}
.rec {
  width: 380px;
  height: 64px;
}
.mon {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  /* text / main */
  color: #172755;
  margin-top: 26px;
  margin-bottom: 12px;
}
.dolor {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  /* text / secondary */
  color: #8794ba;
}
.features {
  display: flex;
  justify-content: space-between;
}
.txt {
  width: 480px;
  height: 232px;
  border: 1px solid black;
}
.one {
  width: 1180px;
  height: 410px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
  border: 1px solid black;
}
.h {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* text / main */
  color: #172755;
  margin-bottom: 30px;
}
.p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  /* text / secondary */
  color: #8794ba;
}
.pic1 {
  background-image: url("/img/screen-01.png");
  width: 600px;
  height: 410px;
}
.pic2 {
  background-image: url("/img/screen-02.png");
  width: 600px;
  height: 410px;
}
.pic3 {
  background-image: url("/img/screen-03.png");
  width: 600px;
  height: 410px;
}
.angles {
  max-width: 1600px;
  width: 100%;
  min-height: 1069px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
}
.red {
  background-image: url("/img/Rectangle\ 7.png");
  max-width: 1600px;
  width: 100%;
  min-height: 245px;
  height: 100%;
  margin-top: -20px;
}
.black {
  background-image: url("/img/Rectangle\ 5.png");
  max-width: 1600px;
  width: 100%;
  min-height: 1069px;
  height: 100%;
  margin-top: -226px;
  /* position: absolute; */
}
.pricing-plans {
  max-width: 1180px;
  width: 100%;
  min-height: 656px;
  height: 100%;
  border: 1px solid white;
  padding-top: 272px;
  /* margin-left: 210px; */
  margin: 0 auto;
}
.pricing {
  width: 620px;
  height: 53px;
  border: 1px solid white;
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}

.texting {
  max-width: 1060px;
  width: 100%;
  height: 63px;
  border: 1px solid white;
  margin-bottom: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  color: #8794ba;
  margin-bottom: 64px;
}
.plan {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 340px;
  height: 440px;
  background: #0f1f4b;
  /* opacity: 0.7; */
  /* card / shadow */
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle {
  background: #ffffff;
}
.name {
  width: 120px;
  height: 35px;
  padding-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}
.standard {
  color: #172755;
}
.up-to {
  width: 120px;
  height: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-align: center;
  /* text / secondary */
  color: #8794ba;
  margin-bottom: 27px;
}
.create-line {
  width: 200px;
  border-top: 1px solid #21346a;
  margin-bottom: 28px;
}
.how-much {
  width: 87px;
  height: 70px;
}
.now {
  width: 121px;
}
.dollar {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.dol {
  color: #172755;
}
span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}
.how {
  color: #172755;
}
.per {
  width: 73px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  /* text / secondary */
  color: #8794ba;
  margin-bottom: 40px;
}
.btn {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
  width: 200px;
  height: 50px;
  left: calc(50% - 200px / 2 - 421.5px);
  top: 320px;
  border: 1px solid #2a407c;
  background-color: #11214e;
  border-radius: 68px;
}
.bot {
  background-color: #ef2a82;
  border: none;
}
/* .card:hover + .btn:hover + .dollar:hover {
  background: #ffffff;
  background-color: #ef2a82;
  color: #172755;
} */
.login {
  max-width: 1600px;
  width: 100%;
  min-height: 740px;
  height: 100%;
  margin: 0 auto;
  background-color: #fbf9ff;
  border: 1px solid black;
}
.central {
  width: 962px;
  height: 522px;
  margin: 109px auto;
  display: flex;
  gap: 46px;
  border: 1px solid black;
}
.see-why {
  width: 431px;
  height: 80px;
  margin-top: 47px;
  /* margin-left: 324px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  color: #160637;
  margin-bottom: 75px;
  border: 1px solid black;
}
.trust {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #8989a2;
  width: 76px;
}
.trus {
  width: 144px;
  border-top: 1px solid #d6d6d6;
}
.trusted {
  width: 407px;
  display: flex;
  /* align-content: stretch; */
  align-items: baseline;
  gap: 17px;
  margin-bottom: 50px;
}
.logs {
  width: 306.43px;
  height: 156.15px;
  border: 1px solid black;
}
.l1 {
  width: 134px;
  height: 35.35px;
}
.l2 {
  width: 63.43px;
}
.line1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.l3 {
  width: 130.43px;
}
.l4 {
  width: 54px;
  height: 32.38px;
}
.line2 {
  display: flex;
  justify-content: space-between;
}
.forms {
  /* width: 480px;
  height: 480px; */
  /* margin-top: 40px; */
  background-color: #f7eefd;
  border: 1px solid black;
}
.forms {
  width: 428px;
  height: 475px;
  margin-left: 26px;
  /* margin-top: -41px; */
  background-color: #ffffff;
  /* border-radius: 8px; */
  /* padding: 32px 40px 32px 40px; */
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid black;
  box-shadow: 0px 56px 5px 25px rgba(251, 239, 255, 1);
}
.sign_up {
  width: 347px;
  height: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #160637;
}
.start {
  width: 344px;
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #ffffff;
  background-color: #722ed1;
  border-radius: 4px;
}
.footer {
  max-width: 1600px;
  width: 100%;
  min-height: 154px;
  height: 100%;
  margin: 0 auto;
  background-color: #1f2f5c;
}
.lside {
  display: flex;
  gap: 9.48px;
  align-items: center;
}
.products {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* text / secondary */
  color: #8794ba;
}
.center1 {
  display: flex;
  gap: 36px;
}
.rside {
  display: flex;
  gap: 40px;
}
.pictures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}
/* ...................................... */
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }

  .top {
    position: relative;
    /* overflow: hidden; */
    max-width: 767px;
    width: 100%;
    min-height: 4418px;
    height: 100%;
    margin: 0 auto;
    background-color: #fbf9ff;
    border: 1px solid black;
  }
  .logo {
    width: 184.02px;
    height: 30px;
  }
  .angle {
    background-image: url("/img/background-top.png");
    max-width: 767px;
    width: 100%;
    height: 815px;
    margin: 0 auto;
    /* position: absolute; */
    position: relative;
    overflow: hidden;
    margin-bottom: 38px;
    border: 1px solid black;
  }
  .header {
    max-width: 767px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .create-line {
    /* display: initial; */
    width: 768px;
    border-top: 3px solid #13224e;
    margin-bottom: 29px;
  }

  .menu-header {
    display: none;
  }
  .sign-up {
    display: none;
  }
  .menu-icon {
    display: initial;
    width: 24px;
    height: 24px;
  }
  .sub {
    width: 335px;
    height: 231px;
  }
  .big {
    display: none;
  }
  .small {
    display: none;
  }
  .sub {
    display: initial;
  }
  .try-for-free {
    width: 335px;
  }
  .monitor {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 120%;
    /* or 37px */
    color: #ffffff;
    width: 335px;
    height: 74px;
  }
  .lorem {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    /* text / secondary */
    color: #8794ba;
    width: 335px;
    height: 89px;
  }
  .big-header-left {
    width: 335px;
    height: 505px;
    margin-top: 27px;
  }
  .main-features {
    max-width: 335px;
    width: 100%;
    min-height: 529px;
    height: 100%;
  }
  .mainf {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /* text / main */
    color: #172755;
    text-align: start;
    /* margin-bottom: 20px; */
  }
  .l {
    width: 335px;
    height: 100px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    /* text / secondary */

    color: #8794ba;
    /* margin-bottom: 40px; */
  }
  .mon {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* text / main */
    color: #172755;
  }
  .dolor {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    /* text / secondary */
    color: #8794ba;
  }
  .rec {
    width: 280px;
    height: 64px;
    display: flex;
    align-items: center;
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .h {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    /* text / main */
    color: #172755;
  }
  .p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    /* text / secondary */
    color: #8794ba;
  }
  .pic1 {
    width: 335px;
    height: 229px;
    background-size: cover;
  }
  .pic2 {
    width: 335px;
    height: 229px;
    background-size: cover;
  }
  .pic3 {
    width: 335px;
    height: 229px;
    background-size: cover;
  }
  .one {
    width: 768px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .txt {
    width: 335px;
    height: 190px;
  }
  .second {
    flex-direction: column-reverse;
  }
  .pricing {
    text-align: left;
  }
  .texting {
    text-align: left;
  }
  .left-login {
    display: none;
  }
  .central {
    max-width: 768px;
    margin: 35px auto;
  }
  .login {
    min-height: 595px;
  }
  .forms {
    box-shadow: none;
  }
  .center1 {
    display: none;
  }
  .footer {
    min-height: 97px;
  }
  .pictures {
    padding-top: 35px;
  }
}
